/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common styles or utilites */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
header{
    background-color: #562EFF;
    width: 1440px;
    height: 96px;
    margin: 0px auto;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header img{
    width: 41px;
    height: 51px;
}
.navbar{
    color: white;
    font-size: 19px;
    font-weight: 600;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 36px;
    align-items: center;
}

.navbar img{
    width: 51px;
    height: 51px;
   
}

main {
    display: flex;

    flex-direction: column;
    align-items: center;
}

hr {
    border: 1px solid #D1D1D1;
    margin-bottom: 27px;
}

/* start here  */
.container {
    background-color: #fff;
    width: 870px;
    padding: 30px;
    margin-top: 21px;
    border-radius: 5px;
}

.top-players {
    margin-bottom: 30px;
}

.section-title {
    color: #562EFF;
    margin-top: 0px;


}

/* top players style */
.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 29px;


}

.player {
    display: flex;
    align-items: center;
    /* column-gap: 16px; */
}

.player img {
    width: 56px;
    height: 56px;

}

.player-name {
    margin-left: 16px;
    font-size: 18px;
}


/* top blog style  */

.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;


}

.blog {
    display: flex;
}

.thumbnail img {
    width: 177px;
    height: 117px;
}

.blog-info {
    margin-left: 16px;
}

.blog-title {
    font-size: 20px;
}

.blog-author {
    color: #9F9F9F;
    font-size: 16px;
    font-weight: 400;
}

.blog-author a {
    color: #562EFF;
    text-decoration: none;
    font-size: 16px;
}

/* --------------------------

courses style section start here 

------------------------------*/
.courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
    justify-items: center;
   
}

.course {
    width: 252.42px;
    height: 269.69px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.course-author {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14.6913px;
    color: #ED6B4F;
}

.course-duration {
    background: #FFE4E8;
    border-radius: 14.6913px;
    padding: 6px;
    color: #ED6B4F;
}

.course .course-banner img {
    width: 224px;
    height: 104px;
}

.course-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fa-star {
    font-size: 12px;
}

.fa-star.filled {
    color: #FFC014;
}

.fa-star.empty {
    color: #AEAEAE;
}

/* media queries----------------- */
@media only screen and (max-width: 668px) {
    .container {
        width: 100%;
    }
    header{
        width: 375px;
        /* margin: 20px 0px 0px 10px; */
        justify-content: space-between;
    }
    .navbar{
        grid-column-gap: 6px;
    }

    .players,
    .blogs,
    .courses {
        /* background-color: red; */
        grid-template-columns: repeat(1, 1fr);
        /* margin-bottom: 20px; */
    }

    .player,
    .blog {
        /* justify-content: center; */
        flex-direction: column;
        align-items: center;
    }

}

/* ---------
tablet devices
--------- */
@media screen and (min-width:689px) and (max-width:992px) {
    .container {
        width: 100%;

    }
    header{
        width: 100%;
    }

    .players,
    .courses {
        /* background-color: orange; */
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }

    .blogs {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
}